<!DOCTYPE html>
<html lang="en">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    input[type=text], input[type=number], select {
        width: 25%;
        padding: 8px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 25%;
        background-color: lightgreen;
        color: black;
        padding: 8px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #ccc;
    }

    div {
        border-radius: 5px;
        background-color: white;
        {#padding: 20px;#}
        padding-bottom: 10px;
    }
    .first{
        background-color: black;
        color: white;
    }

    .new{
        color: white;
    }
</style>
<head>
    <title>Django app</title>

</head>
<body>
<header>
    <h1><a href="{% url 'home' %}">Listings</a></h1>
</header>
<div class="container">
    {% block content %}

    {% endblock content %}
</div>
</body>
</html>
