{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        {# ['area', 'address', 'city', 'state', 'rent', 'owner'] #}
        <p>Owner</p>
        {{ filter.form.owner }}
        <p>Area</p>
        {{ filter.form.area }}
        <p>City</p>
        {{ filter.form.city }}
        <p>State</p>
        {{ filter.form.state }}
        <p>Address</p>
        {{ filter.form.address }}
        <p>Price</p>
        <div class="new">
            {{ filter.form.rent }}
        </div>
        <br>
        <input type="submit"/>
    </form>
    <br>
    <h2>Results:</h2>
    <table>
        <tr>
            <th>Address</th>
            <th>Rent</th>
            <th>Owner</th>
            <th>Update</th>
            <th>Delete</th>
            <th>View</th>
            {% for obj in filter.qs %}
                {#        <a href="{% url 'home_detail' obj.id %}">City: {{ obj.city }} - Rent: ${{ obj.rent }}</a><br/>#}
                <tr>
                    <td style="text-align: left;">{{ obj.address }}</td>
                    <td>{{ obj.rent }}</td>
                    <td><a href="{% url 'owners' %}">{{ obj.owner }}</a></td>
                    <td><a href="{% url 'home_update' obj.id %}">+ update rental</a></td>
                    <td><a href="{% url 'home_delete' obj.id %}">+ delete rental</a></td>
                    <td><a href="{% url 'home_detail' obj.id %}">+ view rental</a></td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}