{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <form method="post" action={% url 'home_update' object.id %}>{% csrf_token %}
    {% else %}
        <form method="post" action={% url 'home_create' %}>{% csrf_token %}
    {% endif %}


{# ['area', 'address', 'city', 'state', 'rent', 'owner'] #}
<div>
    {{ form.owner.label_tag }}
    {{ form.owner }}
    {{ form.owner.errors }}
</div>
<div>
    {{ form.area.label_tag }}
    {{ form.area }}
    {{ form.area.errors }}
    {{ form.address.label_tag }}
    {{ form.address }}
    {{ form.address.errors }}
</div>
<div>
    {{ form.city.label_tag }}
    {{ form.city }}
    {{ form.city.errors }}
    {{ form.state.label_tag }}
    {{ form.state }}
    {{ form.state.errors }}
</div>
<div>
    {{ form.rent.label_tag }}
    {{ form.rent }}
    {{ form.rent.errors }}
</div>
{% if object %}
    <input type="submit" value="Update">
{% else %}
    <input type="submit" value="Create">
{% endif %}
</form>


{% endblock %}